<%- include ("../partials/header") %>

<div class="container set-top-margin" style="background-color: white;">
  <div class="row">
    <div class="col-md-6 col-sm-12 image-div">
      <img class="main-product" src="<%= product.image %>" alt="https://www.wellesleysocietyofartists.org/wp-content/uploads/2015/11/image-not-found.jpg">
    </div>
    <div class="col-md-6 col-sm-12 prod-desc">
      <h5><%= product.name %></h5>
      <span class="product-star">
        <!-- Adding ratings stars -->
        <span class="star">
        <% for(let i=0;i<parseInt(product.rating);i++){ %>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg>
       <% } %>
       <% if(parseInt(product.rating) < parseFloat(product.rating)){ %>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.354 5.119L7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.519.519 0 0 1-.146.05c-.341.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.171-.403.59.59 0 0 1 .084-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027c.08 0 .16.018.232.056l3.686 1.894-.694-3.957a.564.564 0 0 1 .163-.505l2.906-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.002 2.223 8 2.226v9.8z"/>
        </svg>
       <% }  %> 
       <% let currStar = parseInt(product.rating) %>
       <% if(parseInt(product.rating) < parseFloat(product.rating)){ %>
          <% currStar = currStar + 1; }  %>
       <% for(let i = 5;i>currStar ;i--) { %>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
          </svg>
       <% } %>
      </span>
       <!-- End of rating star -->
       <span class="total-rating">
        ( <%= product.reviews.length %>
        <% if(product.reviews.length>1) { console.log("hi");%>
              ratings)
        <%} else { %>
              rating )
        <% } %>  
       </span>
      </span>
      <div class="price-tag">
        ₹ <%= product.price %>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <form action="/product/<%= product._id %>/addtocart" method="post">
            <button id="add-cart" onclick="addToCart()" class="btn btn-warning btn-lg ">Add to cart</button> 
          </form>
        </div>
        
        <div class="col-md-6 col-sm-12">
          <form action="/product/<%= product._id %>/buy" method="post">
            <button id="buy-now" class="btn btn-success btn-lg ">Buy now</button>
          </form>
        </div>
        </div>
      <hr>
      <div class="product-desc">
        <span><h5>Description : </h5></span>
        <p class="desc">
          <%= product.description %>
        </p>
      </div>
      <hr>
      <div class="product-review">
        <h3 class="empt">Reviews & Ratings</h3>
        <span style="font-size: larger;margin-right:1em">
          <!-- <%= product.rating.toFixed(1) %> / 5 -->
          <%= Math.round(product.rating * 10 + Number.EPSILON)/10 %> / 5

        </span>
        <span style="color:rgba(0,0,0,0.5)">
          <% if(product.reviews.length < 1) { %>
            No reviews
          <% } else{ %>
            <%= product.reviews.length %> reviews %>
          <% } %>
        </span>
        <a class="btn btn-sm review-btn" href="/product/<%= product._id %>/review">Review</a>
      </div>
      <div class="product-reviews">
        <% product.reviews.forEach(function(review){ %>
          
          <% if(review.comment){ %>
            
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi al-m bi-person-circle" viewBox="0 0 16 16">
                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
              </svg>
              <span><%= review.author %></span>
              </span>

              <span class="star comm-star">
                <% for(let i=0;i<parseInt(review.rating);i++){ %>
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg>
               <% } %>
               <% if(parseInt(review.rating) < parseFloat(review.rating)){ %>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M5.354 5.119L7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.519.519 0 0 1-.146.05c-.341.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.171-.403.59.59 0 0 1 .084-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027c.08 0 .16.018.232.056l3.686 1.894-.694-3.957a.564.564 0 0 1 .163-.505l2.906-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.002 2.223 8 2.226v9.8z"/>
                </svg>
               <% }  %> 
               <% let currStar = parseInt(review.rating) %>
               <% if(parseInt(review.rating) < parseFloat(review.rating)){ %>
                  <% currStar = currStar + 1; }  %>
               <% for(let i = 5;i>currStar ;i--) { %>
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                  </svg>
               <% } %>
              </span>
              <br>

            <p class="comm-st"><%= review.comment %></p>
            <hr>
          <% } %>         
        <% }) %>
      </div> 




    </div>

  </div>
</div>

<%- include ("../partials/footer") %>
